.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
}

.header-logo {
  height: 100px;
  width: 150px;
}

.header-container nav ul {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.header-container nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 600;
}

.header-slider-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.menu-toggle-button {
  display: none;
}

/* Prevent scrolling when sidebar is open */
.no-scroll {
  overflow: hidden;
}

/* Sidebar adjustments for better UX */
.header-slider-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: #252422;
  color: #f9cdcd;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
}

.header-slider-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Edge */
}

.header-slider-close {
  cursor: pointer;
  font-size: 2.5rem;
}

.header-slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  text-transform: uppercase;
}

.header-slider-img {
  display: flex;
  padding: 0 5rem;
  align-items: center;
}

.header-slider-box img {
  height: 500px;
  width: 100%;
}

.header-slider-footer {
  padding: 3rem 5rem;
  color: #3e3d3c;
  font-weight: 900;
}

.header-slider-footer h2 {
  font-size: 1rem;
  font-weight: 600;
}

.header-slider-box {
  padding: 0 5px;
  border-left: 1px solid #f9cdcd;
  max-width: 550px;
  position: relative;
  border-right: 1px solid #f9cdcd;
}

.slider-number {
  position: absolute;
  bottom: 0px;
  left: 15px;
}

.header-slider-box-body {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header-slider-box-body-left h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.header-slider-box-body-left p {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header-slider-box-body-right span {
  font-weight: 800;
  font-size: 1.5rem;
}

.header-slider-content {
  padding: 2rem 5rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-mobile-button {
  display: none;
}

@media (max-width: 1024px) {
  .header-logo {
    height: 80px;
    width: 120px;
  }

  .header-container nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .header-slider-img img {
    height: 300px;
    width: 100%;
  }

  .header-slider-container {
    padding: 1rem;
  }

  .header-slider-box {
    width: 100%;
    padding: 0 10px;
  }

  .header-slider-footer h2 {
    font-size: 0.8rem;
  }

  .swiper-slide {
    flex-direction: column;
    justify-content: flex-start;
  }

  .header-slider-box-body-left h1 {
    font-size: 1.2rem;
  }

  .header-slider-box-body-left p {
    font-size: 0.9rem;
  }

  .header-slider-box-body-right span {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .header-slider-content {
    padding: 0 1rem;
  }

  .sidebar-mobile-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .header-slider-icon {
    display: none;
  }

  .header-logo {
    height: 80px;
    filter: invert(85%) sepia(15%) saturate(300%) hue-rotate(310deg) brightness(100%) contrast(90%);
  }

  .header-container nav ul {
    gap: 1rem;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  .header-container nav ul li {
    text-align: left;
    width: 100%;
  }

  .header-slider-img img {
    height: 250px;
    width: 100%;
  }

  .header-slider-container {
    padding: 0.5rem;
    justify-content: space-evenly;
  }

  .header-slider-box {
    width: 100%;
    padding: 0;
  }

  .header-slider-header {
    padding: 1rem 2rem;
  }

  .header-slider-header p {
    font-size: 0.8rem;
  }

  .header-slider-header p:first-child {
    display: none;
  }

  .header-slider-footer h2 {
    font-size: 0.7rem;
  }

  .swiper-slide {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
  }

  .header-slider-box-body-left h1 {
    font-size: 1rem;
  }

  .header-slider-box-body-left p {
    font-size: 0.8rem;
  }

  .header-slider-box-body-right span {
    font-size: 1.1rem;
  }

  .header-slider-footer {
    padding: 0 2rem;
  }

  .header-container-nav {
    display: none;
  }

  .header-container {
    background-color: #252422;
    padding: 1rem;
  }

  .header-nav-open {
    display: flex;
    position: absolute;
    background-color: #252422;
    color: #f9cdcd;
    width: 100%;
    top: 90px;
    align-items: flex-start;
    justify-content: flex-start;
    left: 0;
    padding: 0 1rem;
    flex-direction: column;
  }

  .menu-toggle-button {
    display: block;
    cursor: pointer;
    background-color: #252422;
    color: #f9cdcd;
    border: none;
    font-weight: 800;
    font-size: 1.2rem;
  }
}